:root {
  --color-primary: #00a7a7;

  --color-b2b: #6e74b6;
  --color-b2c: #f7a700;
  --color-retencao: #00a7a7;
  --color-alert: #f7a700;
  --color-error: #d8467f;
  --color-hover: #9dd3d2;
  --color-logout: #d8467f;
  --color-placa: #00309f;

  --color-border: #e3e5ef;
  --color-radius: #f9f9f9;
  --color-disabled: #e3e5ef;
  --color-element: #ececec;
  --color-bg: #f9f9f9;
  --color-shadow: #1919197a;
  --color-text: #4a4a4a;
  --color-text-selo: #ffffff;
  --color-text-hover: #0d1117;
  --color-text-selected: #ffffff;
}

:root .tema-escuro {
  --color-border: #30363d;
  --color-radius: #0d1117;
  --color-disabled: #30363d;
  --color-element: #21262d;
  --color-bg: #0d1117;
  --color-shadow: #ffffff7a;
  --color-text: #c9d1d9;
}
