:root {
  // multiplos e divisor por 8 => 0,1,4,8,16,24,32,40,48,56,64

  --size-xs: 4px;
  --size-s: 8px;
  --size-m: 16px;
  --size-l: 24px;
  --size-xl: 40px;

  --size-btn: 40px;
  --size-btn-icon: 36px;
  --size-btn-pagination: 24px;
  --size-btn-s: 32px;
  --size-header: 64px;
  --size-input: 40px;
  --size-line: 32px;
}
