.flex {
  display: flex;

  &-align {
    &-center {
      align-items: center;
    }
  }

  &-inline {
    display: inline-flex;
  }

  &-grow {
    flex-grow: 1;
  }

  &-justify {
    &--start {
      justify-content: flex-start;
    }
  }
}
