<ftc-cabecalho></ftc-cabecalho>

<div>
  <ftc-select-subselect
    [selectSubselectInput]="selectSubselect"
    (selectSubselectOutput)="selectSubselectOutput($event)"
  ></ftc-select-subselect>

  <br />

  <ftc-select-inline
    [tipo]="SelectInlineEnum.UNICA"
    [rotulo]="'seleção unica'"
    [conteudo]="conteudo"
  ></ftc-select-inline>

  <br />

  <ftc-placa
    [placaInput]="placa"
    (placaOutput)="placaOutput($event)"
  ></ftc-placa>

  <br />

  <ftc-menu-titulo
    [titulo]="'politica de retenção'"
    [menu]="conteudo"
    (menuTituloOutput)="menuTituloOutput($event)"
  ></ftc-menu-titulo>

  <ftc-select-inline
    [tipo]="SelectInlineEnum.MULTIPLA"
    [rotulo]="'seleção multipla'"
    [conteudo]="conteudo"
  ></ftc-select-inline>

  <br />

  <ftc-input-botao
    [inputBotao]="inputBotao"
    (inputBotaoOutput)="inputBotaoOutput($event)"
  ></ftc-input-botao>

  <br />

  <ftc-formulario-entrar></ftc-formulario-entrar>

  <button type="button" class="btn">botão</button>
  <button type="button" class="btn btn__primary">primary</button>
  <button type="button" class="btn btn__secondary">secondary</button>
  <button type="button" class="btn btn--disabled">disabled</button>
  <button type="button" class="btn btn__secondary btn--small">small</button>
  <button type="button" class="btn btn__secondary btn--small btn--full">
    full
  </button>
  <button type="button" class="btn btn__icon">
    <img src="/assets/icons/claro.svg" alt="" />
  </button>
  <button type="button" class="btn btn__icon btn__logout"></button>
  <button type="button" class="btn btn__icon btn__selo"></button>
  <button type="button" class="btn btn__text">elemento</button>
  <button type="button" class="btn btn--select">elemento</button>
</div>
