<ftc-cabecalho></ftc-cabecalho>

<div>
  <h1>h1</h1>
  <h2>H2</h2>
  <h3>h3</h3>
  <h4>h4</h4>
  <h5>h5</h5>
  <h6>h6</h6>

  <br />

  <p class="font-xxs">font xxs</p>
  <p class="font-xs">font xs</p>
  <p class="font-s">font s</p>
  <p class="font-m">font m</p>
  <p class="font-l">font l</p>
  <p class="font-xl">font xl</p>
  <p class="font-xxl">font xxl</p>
  <p class="font-ubuntu">font ubuntu</p>
  <p class="font-placa-mercosul">font placa-mercosul</p>
  <p class="font-bold">font bold</p>
  <p class="font-lighter">font lighter</p>
  <p class="font-regular">font regular</p>

  <!-- <button type="button">primary</button>
  <button type="button">primary</button>
  <button type="button">primary</button>
  <button type="button">primary</button>
  <button type="button">primary</button>
  <button type="button">primary</button> -->

  <!-- <input type="date" name="" id="" />

  <h2>texto h1</h2>

  <ftc-select-subselect
    [selectSubselectInput]="selectSubselect"
    (selectSubselectOutput)="selectSubselectOutput($event)"
  ></ftc-select-subselect> -->
</div>
