.botao {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  height: var(--tamanho-botao);
  font-size: 1rem;
  padding: 0 var(--espaco-medio);

  &:hover {
    opacity: 0.9;
  }

  &:active {
    box-shadow: inset var(--sombra-botao);
  }

  &__icone {
    width: var(--tamanho-botao-icone);
    height: var(--tamanho-botao-icone);
    background: var(--cor-elemento) center no-repeat;
  }

  &__sair {
    background: url("/assets/icons/sair.svg") var(--cor-sair) center no-repeat;
  }

  &__selo {
    color: var(--cor-texto-selo);
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__principal {
    background-color: var(--cor-principal);
    color: var(--cor-texto-botao);
  }

  &__padrao {
    background-color: var(--cor-fundo);
    color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
  }

  &__pequeno {
    height: var(--tamanho-botao-pequeno);
  }

  &__cheio {
    width: 100%;
  }
}
