.col {
  &-1 {
    display: flex;
    width: 8.33%;
  }
  &-2 {
    display: flex;
    width: 16.66%;
  }
  &-3 {
    display: flex;
    width: 24.99%;
  }
  &-4 {
    display: flex;
    width: 33.32%;
  }
  &-5 {
    display: flex;
    width: 41.65%;
  }
  &-6 {
    display: flex;
    width: 50%;
  }
  &-7 {
    display: flex;
    width: 58.31%;
  }
  &-8 {
    display: flex;
    width: 66.64%;
  }
  &-9 {
    display: flex;
    width: 74.97%;
  }
  &-10 {
    display: flex;
    width: 83.3%;
  }
  &-11 {
    display: flex;
    width: 91.63%;
  }
  &-12 {
    display: flex;
    width: 100%;
  }
}
