:root {
  --cor-primaria: #00a7a7;

  --cor-borda: #ececec;
  --cor-elemento: #ececec;
  --cor-fundo: #f9f9f9;
  --cor-texto: #4a4a4a;

  --cor-alerta: #f7a700;
  --cor-erro: #d8467f;
}

:root .dark-theme {
  --cor-fundo: #1f222a;
  --cor-texto: #ffffff;
}
