h1 {
}

h2 {
  text-transform: lowercase;
  font-size: var(--fonte-size-28);
  font-weight: normal;
  margin-bottom: var(--espaco-medio);
}
h3 {
}
h4 {
}

h5 {
  text-align: left;
  text-transform: lowercase;
  font-size: var(--fonte-size-14);
  font-weight: lighter;
  margin-bottom: var(--espaco-s);
  color: var(--color-primary);
}

h6 {
  text-transform: lowercase;
  font-size: var(--fonte-size-12);
  font-weight: lighter;
}
