.input {
  width: 100%;
  height: var(--tamanho-input);
  background-color: var(--cor-elemento);
  border: none;
  box-sizing: border-box;
  border-radius: var(--borda-canto);
  outline: none;
  padding: 0 var(--espaco-pequeno);
  color: var(--cor-texto);

  &--cheio {
    width: 100%;
  }
}
