.select {
  display: flex;

  &__inline {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--cor-elemento);
    height: var(--tamanho-input);
    border-radius: var(--border-radius);
    padding: var(--espaco-minimo);
    gap: var(--espaco-pequeno);
  }

  &__botao {
    display: flex;
    align-items: center;
    height: var(--tamanho-radius-pequeno);
    border-radius: var(--border-radius);
    padding: 0 var(--espaco-pequeno);
    vertical-align: middle;

    &:hover {
      cursor: pointer;
      background-color: var(--cor-hover);
      color: var(--cor-texto-selecionado);
    }

    &--selecionado {
      background-color: var(--cor-principal);
      color: var(--cor-texto-selo);
    }
  }
}
