:root {
  --tamanho-1: 0px;
  --tamanho-1: 1px;
  --tamanho-1: 4px;
  --tamanho-1: 8px;
  --tamanho-1: 16px;
  --tamanho-1: 24px;
  --tamanho-1: 32px;
  --tamanho-1: 40px;
  --tamanho-1: 48px;
  --tamanho-1: 56px;
  --tamanho-1: 64px;

  --tamanho-cabecalho: 64px;
  --tamanho-input: 40px;
  --tamanho-botao: 40px;
  --tamanho-botao-pequeno: 32px;
  --tamanho-botao-icone: 36px;
}
