:root {
  // multiplos e divisor por 8 => 0,1,4,8,16,24,32,40,48,56,64

  --tamanho-radius: 40px;
  --tamanho-radius-icone: 36px;
  --tamanho-radius-pequeno: 32px;
  --tamanho-cabecalho: 64px;
  --tamanho-input: 40px;
  --tamanho-menu-horizontal: 48px;
  --tamanho-tabela-linha: 32px;
  --tamanho-radius-paginacao: 24px;
}
