.texto {
  color: var(--cor-texto);

  &__titulo {
    text-transform: lowercase;
    font-size: 1.75rem;
    margin-bottom: var(--espaco-medio);
  }

  &__rotulo {
    text-transform: lowercase;
    font-size: 0.875rem;
    margin-bottom: var(--espaco-pequeno);
    color: var(--cor-principal);
  }

  &__info {
    font-size: 0.625rem;
    font-weight: lighter;
  }

  &--bold {
    font-weight: bold;
  }
}
