.texto {
  color: var(--cor-texto);

  &__titulo {
    text-transform: lowercase;
    font-size: var(--fonte-tamanho-28);
    margin-bottom: var(--espaco-medio);
  }

  &__rotulo {
    text-align: left;
    text-transform: lowercase;
    font-size: var(--fonte-tamanho-14);
    margin-bottom: var(--espaco-pequeno);
    color: var(--cor-principal);
  }

  &__info {
    font-size: var(--fonte-tamanho-12);
    font-weight: lighter;
  }

  &--bold {
    font-weight: bold;
  }
}
