.bg {
  &__b2b {
    background-color: var(--color-b2b);
  }

  &__b2c {
    background-color: var(--color-b2c);
  }

  &__retencao {
    background-color: var(--color-retencao);
  }

  &__element {
    background-color: var(--color-element);
  }
}
