.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: var(--border-radius);
  height: var(--size-btn);
  font-size: var(--font-m);
  padding: 0 var(--size-m);
  color: var(--color-primary);
  background-repeat: no-repeat;
  background-position: center no-repeat;
  white-space: nowrap;
  text-transform: lowercase;

  &:active {
    box-shadow: inset var(--box-shadow);
  }

  &:hover {
    opacity: 0.9;
  }

  &__primary,
  &--select {
    background-color: var(--color-primary);
    color: var(--color-text-selected);
  }

  &__secondary {
    background-color: var(--color-bg);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
  }

  &__text {
    background-color: transparent;
    font-size: var(--font-s);

    &:active {
      box-shadow: none;
      background: var(--color-element);
    }
  }

  &__icon {
    width: var(--size-btn-icon);
    height: var(--size-btn-icon);
    background: var(--color-element);
  }

  &__logout {
    background: url("/assets/icons/sair.svg") var(--color-logout) center
      no-repeat;
  }

  &--small {
    height: var(--size-btn-s);
  }

  &--full {
    width: 100%;
  }

  &--disabled {
    background-color: var(--color-disabled);
    border-color: transparent;
    cursor: default;
  }
}
