button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: var(--border-radius);
  height: var(--size-btn);
  font-size: var(--fonte-size-16);
  padding: 0 var(--size-medio);
  background-color: transparent;
  color: var(--color-primary);
  text-transform: lowercase;
}

.button {
  &:hover {
    opacity: 0.9;
  }

  &:active {
    box-shadow: inset var(--box-shadow);
  }

  &__icon {
    width: var(--size-btn-icon);
    height: var(--size-btn-icon);
    background: var(--color-element) center no-repeat;
  }

  &__sair {
    background: url("/assets/icons/sair.svg") var(--color-logout) center
      no-repeat;
  }

  &__selo {
    color: var(--color-text-selo);
    font-size: var(--fonte-size-24);
    font-weight: bold;
    text-transform: capitalize;
  }

  &__elemento {
    background-color: transparent;
  }

  &__primary,
  &--selecionado {
    background-color: var(--color-primary);
    color: var(--color-text-radius);
  }

  &__padrao {
    background-color: var(--color-bg);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
  }

  &--desabilitado {
    background-color: transparent !important;
    border-color: transparent !important;
    cursor: default;
  }

  &--s {
    height: var(--size-btn-s);
  }

  &__paginacao {
    width: var(--size-btn-pagination);
    height: var(--size-btn-pagination);
    padding: 0;
    border: 1px solid transparent;
    background-color: var(--color-bg);
    border-color: var(--color-border);
    margin-right: var(--size-minimo);

    p {
      color: var(--color-text);
      font-size: var(--fonte-size-12);
    }

    &:hover {
      background-color: var(--color-hover);
      border-color: var(--color-hover);
    }

    &--selecionado {
      background-color: var(--color-primary);
      p {
        color: var(--color-text-selected);
      }
    }
  }

  &--cheio {
    width: 100%;
  }

  &__borda-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: var(--size-minimo);
    background-color: var(--color-element);
    border-radius: var(--border-radius);
  }
}
