.color {
  &-b2b {
    color: var(--color-b2b);
  }

  &-b2c {
    color: var(--color-b2c);
  }

  &-retencao {
    color: var(--color-retencao);
  }

  &-primary {
    color: var(--color-primary);
  }
}
