h2 {
  font-size: var(--font-xl);
  font-weight: normal;
  margin-bottom: var(--size-m);
}

h5 {
  text-align: left;
  font-size: var(--font-s);
  font-weight: lighter;
  margin-bottom: var(--size-s);
  color: var(--color-primary);
}

h6 {
  font-size: var(--font-xxs);
  font-weight: lighter;
}
