.select {
  display: flex;

  &__inline {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-element);
    height: var(--size-input);
    border-radius: var(--border-radius);
    padding: var(--size-xs);
    gap: var(--size-s);
  }
}
