@font-face {
  font-family: "ubuntu";
  src: url("/assets/fonts/ubuntu-regular.ttf") format("truetype");
}

@font-face {
  font-family: "placa-mercosul";
  src: url("/assets/fonts/gl-nummernschild-eng.ttf") format("truetype");
}
